---
import Button from "../atoms/Button.astro";
---

<section id="benefits">
  <div id="text-items">
    <h2>Un curso con grandes beneficios</h2>
    <ul id="first-column">
      <li class="description">Seguimiento y evaluación de los ejercicios</li>
      <li class="description">Grupo para estudiantes</li>
      <li class="description">Realiso de Básico a Avanzado</li>
      <li class="description">Grabaciones narradas paso a paso</li>
      <li class="description">Grabaciones Bonos</li>
      <li class="description">Certificado por cada módulo</li>
    </ul>
  </div>
  <div id="second-column">
    <Button />
  </div>
</section>

<style>
  #benefits {
    background: linear-gradient(
      101deg,
      #fdfdfd -14.28%,
      rgba(237, 130, 7, 0.15) 16.7%,
      rgba(255, 229, 200, 0.12) 49.85%,
      rgba(237, 130, 7, 0.12) 81.2%,
      #f8f8f8 116.73%
    );
    display: flex;
    align-items: center;
    gap: 8em;
    justify-content: center;
    padding: 8em 0;

    & #text-items {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 1em;
      margin-top: 3rem;

      h2 {
        width: 20ch;
        font-size: 38px;
      }

      #first-column {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  }
</style>
