---
import Button from "../atoms/Button.astro";

import Guarantee from "../../assets/imgs/guarantee.webp"
import { Image } from "astro:assets";
---

<section id="benefits">
  <div id="text-items">
    <h2>Un curso con grandes beneficios</h2>
    <ul id="first-column">
      <li class="description">Seguimiento y evaluación de los ejercicios</li>
      <li class="description">Grupo para estudiantes</li>
      <li class="description">Realiso de Básico a Avanzado</li>
      <li class="description">Grabaciones narradas paso a paso</li>
      <li class="description">Grabaciones Bonos</li>
      <li class="description">Certificado por cada módulo</li>
    </ul>
    <Button />
  </div>
  <div id="second-column">
    <div id="guarantee">
      <Image src={Guarantee} alt="Imagen mostrando el numero de dias como garantia de la compra" width="130" />
      <h4>¿Aún no estás seguro si el Curso de Dibujo con Realismo es para ti?</h4>
      <p>No se preocupe. Tienes 7 días de Garantía Incondicional para iniciar el curso y solicitar el reembolso, sin burocracia, si no te gusta o no te adaptas al método.</p>
    </div>
  </div>
</section>

<style>
  #benefits {
    background: linear-gradient(
      101deg,
      #fdfdfd -14.28%,
      rgba(237, 130, 7, 0.15) 16.7%,
      rgba(255, 229, 200, 0.12) 49.85%,
      rgba(237, 130, 7, 0.12) 81.2%,
      #f8f8f8 116.73%
    );
    display: flex;
    align-items: center;
    gap: min(1em, 8em);
    justify-content: center;
    padding: 8em 60px;

    #text-items {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 1em;
      margin-top: 3rem;

      h2 {
        width: min(100%, 20ch);
        font-size: clamp(1rem, 32px, 38px);
      }

      #first-column {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }

    #second-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 30em;
        gap: 1rem;
        #guarantee {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          align-items: center;

          h4 {
            text-align: center;
          }
          p {
            width: min(35ch, 40ch);
            text-align: center;
          }
        }
      }
  }

  @media screen and (max-width: 1024px) {
    #benefits {
      flex-direction: column;

      #text-items {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  @media screen and (max-width: 425px) {
    #benefits {
      padding: 6em 30px;

      h2 {
        font-size: 32px;
      }
    }
  }
</style>
