<section id="benefits">
  <h2>Un curso con grandes beneficios</h2>
  <div id="text-items">
    <ul id="first-column">
      <li class="description">Seguimiento y evaluación de los ejercicios</li>
      <li class="description">Grupo para estudiantes</li>
      <li class="description">Realiso de Básico a Avanzado</li>
      <li class="description">Grabaciones narradas paso a paso</li>
      <li class="description">Grabaciones Bonos</li>
      <li class="description">Certificado por cada módulo</li>
    </ul>
    <div id="second-column">
      <button>Reservar lugar</button>
    </div>
  </div>
</section>

<style>
  #benefits {
    background: linear-gradient(
      101deg,
      #fdfdfd -14.28%,
      rgba(237, 130, 7, 0.15) 16.7%,
      rgba(255, 229, 200, 0.12) 49.85%,
      rgba(237, 130, 7, 0.12) 81.2%,
      #f8f8f8 116.73%
    );

    padding: 8em 0;

    & h2 {
      width: 20ch;
      margin: 0 auto;
      font-size: 38px;
    }

    & #text-items {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10em;
      margin-top: 3rem;
    }

    & #second-column button {
      padding: 1em;
      color: var(--white);
      font-weight: bold;
      border-radius: 10px;
      border: 1px solid rgba(237, 130, 7, 0.5);
      background: var(--lm-primary, #ed8207);
      box-shadow: 0px 0px 28px 0px #f90;
    }
  }
</style>
