---
import Carousel from "../widgets/Carousel.astro";
---

<section id="drawings-students">
  <h2>Mira algunos dibujos realizados por alumnos</h2>

  <!-- Aqui el componente Carousel -->
  <Carousel />
</section>

<style>
  #drawings-students {
    background: linear-gradient(109deg, #ffead1 6.95%, #f1be83 90.24%);

    padding: 8em 60px;
  }

  @media screen and (max-width: 425px) {
    #drawings-students {
      padding: 4em 30px;

      h2 {
        font-size: 32px;
      }
    }
  }
</style>
