<section id="drawings-students">
  <h2>Mira algunos dibujos realizados por alumnos</h2>

  <!-- Aqui el componente Carousel -->
</section>

<style>
  #drawings-students {
    background: linear-gradient(109deg, #ffead1 6.95%, #f1be83 90.24%);

    padding: 8em 60px;

    & h2 {
      width: 25ch;
    }
  }
</style>
