---
import { Image } from "astro:assets";
import { FirstSectionListItems } from "../../utils/ListItems";

import BankImage from "../../assets/imgs/bank-drawing.webp";
---

<section id="first-section">
  <div id="first-column">
    <h2>Este curso es para ti, si</h2>
    <ul>
      {
        FirstSectionListItems.map((items) => (
          <li class="description">{items.text}</li>
        ))
      }
    </ul>
    <p class="description">
      Te guiaré en ir conociendo y perfeccionando cada trazo, sombra, cada
      textura, para lograr resultados sorprendentes.
    </p>
  </div>
  <div id="second-column">
    <Image src={BankImage} alt="Dibujo de un banco para sentarse" />
  </div>
</section>

<style>
  #first-section {
    padding: 10em 60px;
    background: linear-gradient(
      150deg,
      #fdfefb 47.5%,
      rgba(196, 253, 226, 0.13) 180.05%
    );
    display: flex;
    align-items: center;
    gap: 6em;

    #first-column {
      p {
        text-wrap: balance;
        width: min(100%, 60ch);
      }
    }

    #second-column {
      width: 100%;
      img {
        object-fit: cover;
        border-radius: 10px;
        height: 30em;
        width: min(100%, 35em);
      }
    }
  }

  @media screen and (max-width: 425px) {
    #first-section {
      padding: 6em 30px;
      flex-direction: column;

      #first-column {
        text-align: center;

        h2 {
          font-size: 32px;
        }
      }
    }
  }
</style>
