---
import { Image } from "astro:assets";
import { FirstSectionListItems } from "../../utils/ListItems";

import BankImage from "../../assets/imgs/bank-drawing.webp";
---

<section id="first-section">
  <div id="first-column">
    <h2>Este curso es para ti, si</h2>
    <ul>
      {
        FirstSectionListItems.map((items) => (
          <li class="description">{items.text}</li>
        ))
      }
    </ul>
    <p class="description">
      Te guiaré en ir conociendo y perfeccionando cada trazo, sombra, cada
      textura, para lograr resultados sorprendentes.
    </p>
  </div>
  <div id="second-column">
    <Image src={BankImage} alt="" width="550" height="500" />
  </div>
</section>

<style>
  #first-section {
    padding: 10em 60px;
    background: linear-gradient(
      150deg,
      #fdfefb 47.5%,
      rgba(196, 253, 226, 0.13) 180.05%
    );
    display: flex;
    align-items: center;
    gap: 1.5em;

    #first-column {
      ul {
        li {
          margin: 14px 0;
          width: 60ch;
        }
      }

      p {
        width: 60ch;
      }
    }

    #second-column img {
      border-radius: 10px;
    }
  }

  @media (width < 1024px) {
    #first-section {
      flex-direction: column;
      justify-content: center;
    }

    p {
    }
  }
</style>
