<footer>
  <img src="" alt="Logo del curso" />
  <h4>Curso Realismo 2024</h4>
  <div>
    <!-- Redes sociales  -->
  </div>
</footer>

<style>
  footer {
    background: var(--lm-text, #011214);
    color: var(--white);

    padding: 4em 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>
