---
import Button from "../Button.astro"

---

<section id="hero-section">
  <div id="first-column">
		<h1>Aprende a realizar <span className="text-gradient">Dibujos Realistas</span></h1>
	<h3 className="description">Aprende a realizar dibujos de alto nivel de realismo, comenzando desde lo más básico a lo más avanzado</h3>
	<Button />
	</div>
	<div id="second-column"></div>
</section>

<style>
	#hero-section {
		
	}

	.text-gradient {
		background: var(--gradient);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	h3 {
		color: var(--text);
		font-weight: 300;
		line-height: 38px;
	}
</style>