<section id="instructor">
  <div id="first-column">
    <img src="" alt="Imagen del instructor del curso" />
  </div>

  <div id="second-column">
    <h2>Tu Instructor</h2>
    <p class="description">
      ¿Quién soy? Dibujante y profesior en Dibujos Realistas. Debo decir que
      desde chico me gustaban los dibujos, pero este mundo del realismo lo
      conocí en el 2015, y desde entonce fue un recorrido sin vuelta atrás, con
      dedicación dia tras día en busca de alcanzar resultados óptimos.
    </p>
    <p class="description">
      Desde el 2020 post pandemia, logré poner en marchas enseñar mis
      conocimientos a gente que les atraía aprenderlos. Desde aquel entonces
      logré llevar a mis estudiantes a conseguir resultados increíbles en sus
      dibujos.
    </p>
    <div>
      <!-- Tres iconos -->
    </div>
  </div>
</section>

<style>
  #instructor {
    background: #fee7cd;

    display: flex;
    align-items: center;
    padding: 8em 60px;

    & #second-column {
      p {
        width: 60ch;
      }
      p {
        margin-top: 10px;
      }
    }
  }
</style>
