---
import type { CardProps } from "../../types/Props";
import Card from "../atoms/Card.astro";

const cardContent: CardProps[] = [
  {
    cardNumber: 1,
    text: "Nuestro objetivo es que, al finalizar el curso, cada estudiante haya experimentado un crecimiento significativo en su habilidad artística.",
  },
  {
    cardNumber: 2,
    text: "Celebraremos tus logros con un certificado personalizado que atestigua tus avances y el cumplimiento de los objetivos establecidos.",
  },
  {
    cardNumber: 3,
    text: "Estarás orgulloso de tu portafolio de dibujos realistas en grafito, que podrás exhibir y compartir con confianza.",
  },
];
---

<section id="objective-course">
  <h2>¿Cuál es el objetivo del curso?</h2>

  <ul>
    {
      cardContent.map(({ cardNumber, text }) => (
        <li>
          <Card cardNumber={cardNumber} text={text} />
        </li>
      ))
    }
  </ul>
</section>

<style>
  #objective-course {
    background: linear-gradient(
      257deg,
      #f5b76f -36.39%,
      #e7aa65 -16.38%,
      #ebc89f 11.26%,
      #ffdeb9 46.53%,
      #ffe9d0 84.18%,
      rgba(242, 176, 99, 0.5) 108.03%
    );
    padding: 10em 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      margin-bottom: 4rem;
      text-align: center;
    }

    ul {
      counter-reset: count;
      margin: 50px auto;
      display: flex;
      justify-content: center;
      gap: 40px;
      list-style: none;
    }
  }

  @media screen and (max-width: 425px) {
    #objective-course {
      padding: 4em 30px;

      h2 {
        font-size: 32px;
      }

      ul {
        flex-direction: column;
      }
    }
  }
</style>
