---
import { Image } from "astro:assets";
import CarDrawing from "../../assets/imgs/car_drawing.webp";
---

<section id="second-section">
  <div id="first-column">
    <Image src={CarDrawing} alt="Imagen" width="550" height="500" />
  </div>
  <div id="second-column">
    <h2>¿Sabías que aprender a dibujar Realismo no se necesita DON?</h2>
    <p class="description">
      Más allá de las técnicas y los materiales, este curso busca cambiar tu
      forma de entender el arte y el dibujo. Te ayudaremos a desarrollar un
      proceso mental que fomenta la paciencia, la perseverancia y la atención al
      detalle.
    </p>
    <p class="description">
      A medida que te sumerjas en tus creaciones, experimentarás estados de
      flow, una sensación de inmersión y concentración total que te permitirá
      disfrutar plenamente del proceso creativo.
    </p>
  </div>
</section>

<style>
  #second-section {
    background: linear-gradient(
      260deg,
      #ffe9d0 10.15%,
      #fce0c1 31.4%,
      #f3c48d 74.67%,
      #f2bb7a 112.15%
    );

    padding: 10em 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5em;

    #second-column {
      h2,
      p {
        text-wrap: balance;
      }
      p {
        margin-top: 10px;
      }
    }
  }

  @media (width < 1024px) {
    #second-section {
      flex-direction: column;
      flex-flow: column-reverse;
      text-align: center;
    }

    p {
      text-wrap: balance;
    }
  }
</style>
