<section id="second-section">
  <div id="first-column">
    <img src="" alt="Imagen" />
  </div>
  <div id="second-column">
    <h2>¿Sabías que aprender a dibujar Realismo no se necesita DON?</h2>
    <p class="description">
      Más allá de las técnicas y los materiales, este curso busca cambiar tu
      forma de entender el arte y el dibujo. Te ayudaremos a desarrollar un
      proceso mental que fomenta la paciencia, la perseverancia y la atención al
      detalle.
    </p>
    <p class="description">
      A medida que te sumerjas en tus creaciones, experimentarás estados de
      flow, una sensación de inmersión y concentración total que te permitirá
      disfrutar plenamente del proceso creativo.
    </p>
  </div>
</section>

<style>
  #second-section {
    background: linear-gradient(
      260deg,
      #ffe9d0 10.15%,
      #fce0c1 31.4%,
      #f3c48d 74.67%,
      #f2bb7a 112.15%
    );

    padding: 8em 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & #second-column {
      h2 {
        width: 30ch;
      }

      p {
        width: 60ch;
        margin-top: 10px;
      }
    }
  }
</style>
