---
import { Image } from "astro:assets";
import YoutubeImage from "../../assets/imgs/youtube-logo.webp";
---

<section id="third-section">
  <div id="first-column">
    <h2>¿Qué ofrezco en el Curso de Dibujos Realistas?</h2>
    <p class="description">
      A lo largo del curso, contarás con una metodología jerarquizada que te
      guiará desde los conceptos básicos hasta proyectos más desafiantes. A
      través de ejercicios prácticos y demostraciones en vivo, aprenderás a
      dominar las técnicas de sombreado, el manejo de los contrastes y la
      creación de texturas realistas.
    </p>
    <p class="description">
      Cada paso del camino, recibirás comentarios y orientación individualizada
      para asegurarte de que estés progresando de manera efectiva.
    </p>
    <p class="description">
      Nuestro objetivo es que, al finalizar el curso, cada estudiante haya
      experimentado un crecimiento significativo en su habilidad artística.
    </p>
  </div>
  <div id="second-column">
    <Image src={YoutubeImage} alt="Imagen" width="350" height="300" />
  </div>
</section>

<style>
  #third-section {
    background: linear-gradient(108deg, #fff 13.78%, #f6f6f6 98.34%);

    padding: 8em 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & #first-column {
      h2 {
        width: 30ch;
      }

      p {
        width: 60ch;
        margin-top: 20px;
      }
    }
  }
</style>
