---
const { title, description, course_author } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Course author" content={course_author} />
    <meta name="description" content={description} />

    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="favicon/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="favicon/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="favicon/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="favicon/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="favicon/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="favicon/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="favicon/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="favicon/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="favicon/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="favicon/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="favicon/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://intro-course.vercel.app" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Curso de Realismo" />
    <meta
      property="og:description"
      content="¿Te gustaría aprender a hacer dibujos con un enfoque realista? De hacer retratos a dibujos de tu gusto, te enseño desde los cimientos."
    />
    <meta
      property="og:image"
      content="https://intro-course.vercel.app/_astro/artistas-dark-logo.96ctf5mp_2aBTlv.svg"
    />

    <title>{title}</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap");

  :root {
    --primary: #ed8207;
    --text: #011214;
    --white: #fefdfb;
    --gradient: linear-gradient(310deg, var(--primary) 21.26%, #7206d0 88.02%);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
    -ms-overflow-style: none;
  }

  *::-webkit-scrollbar {
    width: 0;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }

  html {
    scroll-behavior: smooth;
  }

  h1,
  h2,
  h3,
  h4,
  a {
    font-family: Poppins, sans-serif;
  }

  h2 {
    font-size: 38px;
  }

  p,
  small,
  li,
  summary {
    font-family: "Hind", sans-serif;
  }

  ol {
    list-style: none;
  }

  li {
    list-style-position: inside;
  }

  button {
    border: none;
    border-radius: 10px;
  }

  .description {
    font-size: 20px;
    line-height: 36px;
  }
</style>
